@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
html, body {
  font-family: "Montserrat", sans-serif;
}

#rest-img-placeholder {
  width: 100%;
}
.rest-img-placeholder {
  width: 100%;
}

#restaurant-page-container h2 {
  font-size: 1.25em;
}

/* Make the icon display side-by-side with the restaurant page label */
.rest-content-label {
  display: flex;
}

#resultsPlaceholder a {
  text-decoration: none;
}

#rest-name-wrapper {
  height: 10vh;
}

#logo {
  height: 5vh;
}

#reviewForm {
  display: none;
}
