#rest-img-placeholder {
  width: 100%;
}
.rest-img-placeholder {
  width: 100%;
}

#restaurant-page-container h2 {
  font-size: 1.25em;
}

/* Make the icon display side-by-side with the restaurant page label */
.rest-content-label {
  display: flex;
}

#resultsPlaceholder a {
  text-decoration: none;
}